---
title: 'Ecoss'
url: 'http://ecoss.nau.edu'
isSingle: false
isDraft: false
_content: false
---

extends ../views/_single

block content

  :markdown
    The Center for Ecosystem Science and Society is an environmental research department at Northern Arizona University. Originally built in the Spring of 2015, this is a Wordpress website with a number of custom plugins to manage their dynamic content pipeline.
