---
title: 'Karma Sushi Bar Grill'
url: 'http://www.karmaflagstaff.com'
collaborators: [ {'name': '2b design', 'url':'http://2b2d.com'}, {'name': 'Jen Saunders', 'url':'/'} ]
isSingle: true
isDraft: false
_content: false
---

extends ../views/_single

block content

	:markdown
		Sashimi, seaweed salad, and hot sake...an incredible treat in the high desert. I worked with the wonderful [Darcy Falk](http://darcyfalk.com/), [Jen Saunders](http://www.jensaunders.com), and [Darryl Brown](http://www.2bdesign.com) to bring the responsive website to production. 

		Built with the Yii Framework and now maintained solely by myself. Besides monthly marketing and performance maintenance, I built a secure employee portal for job orientation and training.
