---
title: 'Karma Sushi Bar Grill'
url: 'http://karmaflagstaff.com'
collaborators: [ {'name': '2b design', 'url':'http://2b2d.com'}, {'name': 'Jen Saunders', 'url':'http://www.jensaunders.com/'} ]
isDraft: false
_render: false
---


p My project description
