---
title: 'Boxcar Porter'
style: 'English Porter'
date: 2016-02-28
isDraft: false
---

extends ../views/layout

block content
  div(class="wrapper")
    h2 Ingredients

    h3 Grain
    ul
      li 10.25# Marris Otter
      li 2# Crystal 60L
      li 2# Crystal 120L
      li 1# English Brown
      li 0.5# Belgian Biscuit

    h3 Hops
    ul
      li 1oz East Kent Golding @60min
      li 1oz Fuggle @60min
      li 1oz East Kent Golding @15min

    h3 Yeast
    ul
      li 1pck Dry Nottingham Ale

