doctype
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")

    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= post.title + ' wesite by thaddeus reid | web developer and designer'
    != css('/')

  body
    div(class="content")
      div(class="wrapper project")

        h2 
          a(href='/#projects') &laquo; thaddeus reid
        h1
          a(href=post.url title=post.title target="_blank")=post.title

        block content

        a(href=post.url title=post.title target="_blank" class="button") see the website


    != js('/')
