extends layout

block content
  div(class="wrapper")
    h1 Thaddeus Reid
    h4
      em Flagstaff, Arizona

    p.
      Hi, I'm a developer who builds reponsive websites and web applications. If you're interested in building something together, give me a shout.

    a(href="#contact" class="button") get in touch


  div(class="wrapper")
    h2 Projects

    div(class="projects")

      each project in site.projects
        unless project.isDraft
          div(class="project")
            div(class="header")
              a(href=project.url title=project.title target="_blank"): h3=project.title
            //- != project.content
            //- if project.collaborators
              each collab in project.collaborators
                a(href=collab.url)= collab.name
            

    //- a(href="#" class="button") see more

  div(class="wrapper" id="contact")
    h2 Talk To Me

    a(href="mailto:hello@thaddeusreid.com") hello@thaddeusreid.com

    div(class="social-links")
      a(href="https://github.com/thaddeusreid" class="social-github" target="_blank")
      a(href="https://twitter.com/thaddeus_reid" class="social-twitter" target="_blank")
