extends layout

block content
  div(class="wrapper")
    h1 Thaddeus Reid
    h4
      em Flagtaff, Arizona

    p.
      Hola, I'm a front end web developer with an interest in computers, design, filmmaking, homebrewing, and many other amazing forms of art/life. I would love to hear from you whether you're wanting to build something or have a great song to share.

    a(href="#contact" class="button") get in touch


  div(class="wrapper")
    h2 Projects

    div(class="projects")

      each project in site.projects
        div(class="project")
          div(class="header")
            h3= project.title
          != project.content
          p= project.collaborators

    //- a(href="#" class="button") see more

  div(class="wrapper" id="contact")
    h2 Talk To Me

    a(href="mailto:hello@thaddeusreid.com") hello@thaddeusreid.com

    div(class="social-links")
      a(href="https://github.com/thaddeusreid" class="social-github")
      a(href="https://twitter.com/thaddeusreid" class="social-twitter")
