extends layout

block content
  div(class="wrapper")
    p.
      Hello! I'm a developer specialized in building full-stack Javascript applications for the web. When I'm not tinkering on a server, updating component state, or running unit tests, you can catch me riding my bike, climbing rocks, and hanging out at the river with my friends.
    p.
      Currently not accepting any side-projects at the moment... but it never hurts to reach out with an idea! Or feel free to holler if you want to get outside and have some fun.

    //- a(href="#contact" class="button") get in touch

  //- div(class="wrapper")
    h2 Projects

    div(id="projects" class="projects")

      each project in site.projects.reverse()
        unless project.isDraft
          div(class="project")
            div(class="header")
                a(href=project.url title=project.title): h3=project.title
            //- != project.content
            //- if project.collaborators
              each collab in project.collaborators
                a(href=collab.url)= collab.name


    //- a(href="#" class="button") see more

  include footer
