@import '_settings'
@import 'font-awesome'

normalize-css()
base()
fa-font()

body
  padding: $space-large $space-large $space-small
  text-align: center
  background-color: $white
  color: $black
  font-family: $font-stack

  h1
    font-size: $text-xlarge
    color: $red
    margin-bottom: $space-small

    a
      color: $red

      &:hover,
      &:focus
        color: $black

  h2
    font-size: $text-large
    color: $red

  h3
    color: $red
    margin: 0px 0px $space-xsmall

  h4
    color: $red
    margin: 0px 0px $space-medium

  p
    margin-bottom: $space-large
    line-height: 28px

    a
      border-bottom: 1px $black dotted

      &:hover,
      &:focus
        border-color: $red

  a
    color: $black
    text-decoration: none

    h3
      color: $black
      font-weight: normal

      &:hover,
      &:focus
        color: $red

    &:hover,
    &:focus
      color: $red

  .logo
    max-width: 75px

  .button
    display: block
    text-transform: uppercase
    text-align: center
    padding: $space-small $space-medium
    margin: 0 auto
    background-color: transparent
    border: 1px solid $red
    color: $red
    max-width: 200px

    &:hover,
    &:focus
      color: $white
      background-color: $red
      border-color: $red

  .content,
  .footer
    max-width: $container-width-max
    margin: 0 auto

  .content
    min-height: 80vh

  .footer
    p
      margin: 0px

  .wrapper
    padding-top: $space-xlarge
    padding-bottom: $space-xlarge*4

    &:last-child
      padding-top: 0
      padding-bottom: $space-medium

  .separator
    height: $space-large

  .projects
    margin-bottom: $space-large

    .project
      margin-bottom: $space-medium

      p
        margin-top: 0px;
        margin-bottom: $space-xsmall

  // util
  .center
    text-align: center


  .social-links
    margin: $space-medium 0 0

    a
      margin: 0 $space-small

    .social-github
      &:before
        fa-icon("github");
        font-size: $text-large
    .social-twitter
      &:before
        fa-icon("twitter");
        font-size: $text-large
    .social-linkedin
      &:before
        fa-icon("linkedin");
        font-size: $text-large