// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Font stacks (add your own!)
$helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
$georgia = Georgia, Cambria, "Times New Roman", Times, serif
$lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
$monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
$verdana = Verdana, Geneva, sans-serif
$ubuntu = "Ubuntu", Helvetica, Arial, sans-serif
$noto = "Noto Serif", $georgia

// Default font settings
$font-stack = $ubuntu
$font-size = 16
$font-color = #0E0E0E

// font sizes
$text-xlarge = 48px
$text-large = 32px
$text-medium = 16px

// spacing
$space-xlarge = 60px
$space-large = 40px
$space-medium = 20px
$space-small = 10px
$space-xsmall = 5px


// Colors (via http://clrs.cc - slightly modded)
$navy     = #001f3f
$blue     = #0074D9
$aqua     = #7FDBFF
$teal     = #39CCCC
$olive    = #3D9970
$green    = #2ECC40
$lime     = #01FF70
$yellow   = #FFDC00
$orange   = #FF851B
$red      = #FF4136
$maroon   = #85144b
$fuchsia  = #F012BE
$purple   = #B10DC9
$white    = #FFFFFF
$silver   = #111111
$gray     = #AAAAAA
$black    = #0E0E0E

// Use as default HTML colors
navy    = $navy
blue    = $blue
aqua    = $aqua
teal    = $teal
olive   = $olive
green   = $green
lime    = $lime
yellow  = $yellow
orange  = $orange
red     = $red
maroon  = $maroon
fuchsia = $fuchsia
purple  = $purple
white   = $white
silver  = $silver
gray    = $gray
black   = $black

// Default color
$default-color = $red

// Text highlight color
$highlight-color = $red

// Custom image base path for axis mixins
$img-path = '/img/'

// Ligatures
$ligatures = false

// layout
$container-width-max = 580px