---
title: 'Hiring Flagstaff'
url: http://hiringflagstaff.com
isSingle: true
isDraft: false
_content: false
---

extends ../views/_single

block content

  :marked
      Hiring Flagstaff is a unified platform to promote jobs, internships, and other services to jobseekers, free for any business in Northern Arizona,. It is also designed to introduce Trailing Partners -- people who are unemployed and unable to find work with an employed spouse -- to local businesses, large and small.

      My role as the sole developer is to bring the entire project from design to launch and includes: Database modeling and construction (MySQL), configuring a LAMP server with automation scripting, evaluating and addressing security concerns, and setting up routine transactional email services. On the front end, I have worked closely with the [Made With Math](http://madewithmath.com/) team's designer and project manager to actualize the mockups into usable code.

      The project is facilitated through the [Greater Flagstaff Chamber of Commerce](http://www.flagstaffchamber.com/) and funded in-part through generous industry sponsors. It is scheduled for a Fall 2016 launch, currently undergoing quality control, testing, and marketing efforts.

      Please check in soon for a post-launch update!
